@* Set view model type *@
@model List<AspNet_MVC_SPU111.Data.Entities.Product>;

<h1>Product List</h1>
<p>You can manage all the available products here...</p>

<div>
    <a asp-action="Create" class="btn btn-primary">Create New Product</a>
</div>

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">
                <th scope="row">@i.Id</th>
                <td>@i.Name</td>
                <td>@i.Price$</td>
                <td>
                    @if (i.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                <td>@i.CategoryId</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">Count: @Model.Count</p>