@model List<DataAccess.Data.Entities.Product>;

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img height="200" src="@i.ImageUrl" class="card-img-top obje" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@i.Name</h5>
                        <p class="card-text">Price: @i.Price$ Category: @i.CategoryId</p>
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@i.Id" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>